.pacman {
    width: 0;
    height: 0;
    border-right: 60px solid transparent;
    border-top: 60px solid blue;
    border-left: 60px solid blue;
    border-bottom: 60px solid blue;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.up_triangle {
    width: 0;
    height: 0;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 120px solid blue;

}
